<div class="overlay">
  <div class="big-pic">
    <img class="picture-big" src="dataPhoto" />
    <p class="photo-title"></p>
  </div>
  <span class="close">X</span>
</div>

<h1>Gallery</h1>
<h2>Lorem ipsum dolor sit amet</h2>
<p>This is a Google web font</p>

<div class="gallery">
    <!-- data-title="" is for image caption -->
    {{#each imgs}}
        <div class="picture-container">
            <img class="picture" src="{{this}}"   data-title="test" >
        </div>
    {{/each}}

{{!-- <img class="picture" src="https://1.bp.blogspot.com/-o8qOuHWxZ_E/UAe8wMAtthI/AAAAAAAAHE0/gzbHDIBOt8g/s1600/Hdhut.blogspot.com+(27).jpg"   data-title="Oh! The mountains!" /> --}}

  {{!-- <div class="picture-container">
    <img class="picture" src="http://surfattitude.files.wordpress.com/2013/08/mavericksswanner2.jpg" data-title="Oh! The sea!" />
  </div> --}}
</div>
  
