<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PetZilla</title>

    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>

    <a href="#" class="gallery">
        <img src="http://placekitten.com/g/150/150">
        <img src="http://placekitten.com/150/150">
        <img src="http://placekitten.com/g/150/150">
        <img src="http://placekitten.com/150/150">
        <strong>Cats</strong>
    </a>


    <a href="#" class="gallery">
        <img src="https://cdn.pixabay.com/photo/2018/05/07/10/48/husky-3380548__340.jpg">
        <img src="https://cdn.pixabay.com/photo/2016/02/19/15/46/dog-1210559__340.jpg">
        <img src="https://cdn.pixabay.com/photo/2014/09/19/21/47/chihuahua-453063__340.jpg">
        <img src="https://cdn.pixabay.com/photo/2014/03/14/20/07/painting-287403__340.jpg">
        <strong>Dogs</strong>
    </a>

</body>

</html>